{% comment %}
  {% render 'social-icons' %}
{% endcomment %}

{% style %}
  ul.list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    a {
      align-items: center;
      display: flex;
      padding: 1.1rem;
      color: rgb(var(--color-foreground));
      .icon {
        height: 2.2rem;
        width: 2.2rem;
        .utility-bar & {
          scale: 0.9;
        }
      }
      &:hover .icon {
        transform: scale(1.07);
      }
      .utility-bar & {
        padding: 0 0.8rem;
        height: 3.8rem;
        &:focus-visible {
          outline-offset: -0.3rem;
          box-shadow: 0 0 0 -0.2rem rgb(var(--color-foreground));
        }
      }
    }
    .utility-bar__grid & {
      justify-content: flex-start;
      align-content: center;
      margin-left: -1.2rem;
      grid-area: social-icons;
    }
  }
  @media screen and (max-width: 989px) {
    .utility-bar ul.list-social {
      display: none;
    }
  }
  @media only screen and (max-width: 749px) {
    ul.list-social {
      justify-content: center;
    }
  }
{% endstyle %}

{%- capture order -%}
  Facebook: {{ settings.social_facebook_link }},
  Instagram: {{ settings.social_instagram_link }},
  LinkedIn: {{ settings.social_linkedin_link }},
  Pinterest: {{ settings.social_pinterest_link }},
  Reddit: {{ settings.social_reddit_link }},
  Snapchat: {{ settings.social_snapchat_link }},
  Threads: {{ settings.social_threads_link }},
  TikTok: {{ settings.social_tiktok_link }},
  Tumblr: {{ settings.social_tumblr_link }},
  Vimeo: {{ settings.social_vimeo_link }},
  X: {{ settings.social_x_link }},
  YouTube: {{ settings.social_youtube_link }}
{%- endcapture -%}
{%- assign platforms = order | split: "," -%}

<ul class="list-unstyled list-social" role="list">
  {%- for platform in platforms -%}
    {% assign data = platform | strip | split: ":" %}
    {% assign icon = "social-" | append: data[0] | downcase %}
    {%- if data[1] != blank -%}
      <li>
        <a href="{{ data[1] }}">
          <span class="svg-wrapper">
            {% render 'icons', icon: icon %}
          </span>
          <span class="visually-hidden">{{ data[0] }}</span>
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
