<div class="section-xl {{ section.settings.background_color }}">
  <div class="row grid-1">
    <div class="col">
      <h1>{{ shop.name }}</h1>
      {%- if shop.password_message != blank -%}
        <p>{{ shop.password_message }}</p>
      {%- endif -%}
    </div>
  </div>
</div>

<div class="gradient">

  <div class="password-header">    

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open password-link link underlined-link">
            ['padlock' icon] Enter Using Password
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            ['close' icon]
          </div>
        </summary>
        <div class="modal__content" role="dialog" aria-labelledby="DialogHeading" aria-modal="true">
          <div class="password-modal__content" tabindex="-1">
            <button type="button" class="modal__close-button link" aria-label="Close">
              ['close' icon]
            </button>
            <h2 class="password-modal__content-heading" id="DialogHeading">Enter store using password:</h2>

            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="Your Password"
                >
                <label class="field__label" for="Password">Your Password</label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">Error</span>
                    <span class="form__message">['error' icon] Wrong password!</span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">Enter</button>
            {%- endform -%}
            <small class="password__footer-text">Are you the store owner? Log in here</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
<hr>

<h1>Password Page Content</h1>

<hr>
<div class="password__footer gradient">
  {% render 'social-icons' %}
  {% capture shopify %}
    <a
      class="shopify-link"
      href="//www.shopify.com"
      rel="nofollow"
      target="_blank"
      aria-describedby="a11y-new-window-message"
      aria-label="Shopify"
    >
      {% render 'logos', logo: 'shopify' %}
    </a>
  {% endcapture %}
  <small class="password__footer-caption password__footer-text">
    {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}}
  </small>
  <small class="password__footer-login password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
</div>

{% schema %}
{
  "name": "Password Page",
  "tag": "section"
}
{% endschema %}
